<div class="container">
    <div class="profile">
      <img src="leds.jpg" alt="" class="profile-img">
      <h1>Ledilson Menezes</h1>
    </div>
    <div class="links">
        <a href="https://www.linkedin.com/in/ledilsonmenezes/" target="_blank" style="text-decoration: none;">
            <button class="link-btn">LinkedIn</button>
          </a>
         <a href="https://github.com/menezesledilson" target="_blank" style="text-decoration: none;">
            <button class="link-btn">GitHub</button>
         </a>       
      
    </div>
    
  </div>
  